.naslov {
    
     text-align: left;
     font-size: 1.75rem;
     font-weight: 500;
    line-height: 1.2;
    font-weight: bold;
}
   

.datum {
    color: #6C757D;
    font-weight: 500;
    line-height: 1.2;
    margin:0;
    font-size: 16px;

}
.slike{
text-align: center;
height: 470px;
}
.novo{
text-align: left;
}
.staro {
    font-style: italic;


}
.naslovna{

    border-top: 3px solid #f44842;
    background-color: #FEECEB;
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 15px;

}
.kocka{
width: 12px;
height: 12px;
background-color: #f44842;
border-radius: 4px;
}
.kocka2{
    width: 12px;
height: 12px;
border-radius: 4px;
background-color: #f4c141;

}
.vijesti{
    background-color:#FEF9EB;
    font-size: 20px;
    border-top:3px solid #f4c141;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 70px;
    column-gap: 15px;
}
.posao{
font-size: 20px;
background-color: #EEFBE6;
border-top:3px solid #5dd60c;
display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 15px;
}
.riznica{

    font-size: 20px;
    background-color: #E6FBFB;
    border-top:3px solid #0fd8d5;;
}

.sirina{

    line-height: 1.75rem;
    padding: 0.5rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1140px;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.44); 
box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.44);



}