.naslov {
    
     text-align: left;
     font-size: 1.75rem;
     font-weight: 500;
    line-height: 1.2;
    font-weight: bold;
}
   

.datum {
    color: #6C757D;
    font-weight: 500;
    line-height: 1.2;
    margin:0;
    font-size: 16px;

}
.slike{
text-align: center;
height: 470px;
}
.novo{
text-align: left;
}
.staro {
    font-style: italic;


}
.naslovna{

    border-top: 3px solid #f44842;
    background-color: #FEECEB;
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 5px;
   

}
.kocka{
width: 12px;
height: 12px;
background-color: #f44842;
border-radius: 4px;
}
.lista-naslovna li::before{
    content :""; 
    background-color:#f44842;
    display: inline-block; 
    width: 8px; 
    height: 8px;
    margin-left:10px ; 
   border-radius: 35%;
   margin-right: 10px;



}
.kocka2{
    width: 12px;
height: 12px;
border-radius: 4px;
background-color: #f4c141;

}
.vijesti{
    background-color:#FEF9EB;
    font-size: 20px;
    border-top:3px solid #f4c141;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 5px;
}
.lista-vijesti li::before{
    content :""; 
        background-color:#f4c141;
        display: inline-block; 
        width: 8px; 
        height: 8px;
        margin-left:10px ; 
       border-radius: 35%;
       margin-right: 10px;




}
.posao{
font-size: 20px;
background-color: #EEFBE6;
border-top:3px solid #5dd60c;
display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 5px;
}
.kocka3{
    width: 12px;
height: 12px;
border-radius: 4px;
background-color: #5DD60C;

}
.lista-posao li::before{
    content :""; 
        background-color: #5dd60c; 
      font-size: 25px;
        display: inline-block; 
        width: 8px; 
        height: 8px;
        margin-left:10px ; 
       border-radius: 35%;
       margin-right: 10px;




}
.riznica{

    font-size: 20px;
    background-color: #E6FBFB;
    border-top:3px solid #0fd8d5;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 10px;
    
}
.kocka4{
    width: 12px;
height: 12px;
border-radius: 4px;
background-color: #0FD8D5;
}
.utisci{
    font-size: 20px;
    background-color: #E6FBFB;
    border-top:3px solid #1961d6;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 10px;
}
.lista-utisci li::before{
    content :""; 
        background-color: #1961d6; 
      font-size: 25px;
        display: inline-block; 
        width: 8px; 
        height: 8px;
        margin-left:10px ; 
       border-radius: 35%;
       margin-right: 10px;

}
.kocka5{
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color:#1961d6



}
.lista-sport li::before{
    content :""; 
        background-color: #c4158d; 
      font-size: 25px;
        display: inline-block; 
        width: 8px; 
        height: 8px;
        margin-left:10px ; 
       border-radius: 35%;
       margin-right: 10px;
}
.sport{
    font-size: 20px;
    background-color: #E6FBFB;
    border-top:3px solid #c4158d;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 10px;
}
.kocka6{
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color:#c4158d;
}
.lista-magazin li::before{
    content :""; 
    background-color:#6c18bf;
    font-size: 25px;
    display: inline-block; 
    width: 8px; 
    height: 8px;
    margin-left:10px ; 
   border-radius: 35%;
   margin-right: 10px;



}
.magazin{
    font-size: 20px;
    background-color: #E6FBFB;
    border-top:3px solid #6c18bf;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 10px;
}
.kocka7{
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color:#6c18bf;
}
.lista-spektar li::before{
    content :""; 
    background-color:#cc0a3a;
    font-size: 25px;
    display: inline-block; 
    width: 8px; 
    height: 8px;
    margin-left:10px ; 
   border-radius: 35%;
   margin-right: 10px;


}
.spektar{
    font-size: 20px;
    background-color: #E6FBFB;
    border-top:3px solid #cc0a3a;
    display: flex;
    align-items: center;
    display: flex;
    padding-left: 40px;
    column-gap: 10px;
}
.kocka8{
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color:#cc0a3a;
}

    


.sirina{
    line-height: 1.75rem;
    padding: 0.5rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1140px;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.44); 
box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.44);
}
ul{

list-style: none ;


}

.lista-riz li::before {
    content :""; 
        background-color: #0fd8d5; 
      font-size: 25px;
        display: inline-block; 
        width: 8px; 
        height: 8px;
        margin-left:10px ; 
       border-radius: 35%;
       margin-right: 10px;
       
        
      }

      li{
        display: flex;
        align-items: center;
      }
      .slika{
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;


      }
      .duzina{
        line-height: 1.75rem;
    padding: 0.5rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 2000px;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.44); 
box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.44);

      }


      .prvo{
        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px;     
    }
    .linija{
        border-top: 3px solid #f44842;
        display: flex;
justify-content: center;
  width: 100px !important;
    }
        
        .linija1{
            border-top: 2px solid #f4c141;
            display: flex;
    justify-content: center;
      width: 100px !important;


        }
      .drugo{
        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px;  

      }
      .linija2{
        border-top: 2px solid #5dd60c;
        display: flex ;
justify-content: center;
  width: 100px !important;  
      }
      .linija3{
        border-top: 2px solid #0fd8d5;
            display: flex;
    justify-content: center;
      width: 100px !important;

      }
      .linija4{border-top: 2px solid #1961d6;
        display: flex;
justify-content: center;
  width: 100px !important;
}
.linija5{
    border-top: 2px solid #c4158d;
            display: flex;
    justify-content: center;
      width: 100px !important;

}
.linija6{
    border-top: 2px solid #6c18bf;
            display: flex;
    justify-content: center;
      width: 100px !important;


}
.linija7{
    border-top: 2px solid #cc0a3a;
            display: flex;
    justify-content: center;
      width: 100px !important;




}
      .trece{
        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px;  

      }
    .cetvrti{
        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px;  


    }
    .peti{

        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px;  

    }
    .sesti{
        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px;  


    }
    .sedmi{
        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px; 

    }
    .osmi{
        color: #0e4b83!important;
        font-size: .8rem!important;
        font-weight: 600!important;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;   
    font-size: 20px;
    display: flex;
    align-items: center;
    display: flex;
    column-gap: 5px;  

    }
    .sve{
        text-align: center;
    }